body {
    height: 100vh;
    width: 100vw;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    border: black solid 1px;
}

.row-container {
    display: flex;
    flex-grow: 1;
}

.square {
    border: black solid 1px;
    flex-grow: 1;
}